body {
    background-color: powderblue;
  }
  h3 {
    font-size: 30px
  }
  .needs {
    font-size: 50px;
  }
  p {
    color: rgb(195, 122, 255);
  }
  pre {
    color: rgb(195, 122, 255);
    text-align: center;
    border: 4px solid rgb(5, 17, 19);
    margin: 80px;
  }
  a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(255, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
